*.rbc
capybara-*.html
.rspec
.rspec_status
*.log
/log
/tmp
/db/*.sqlite3
/db/*.sqlite3-journal
/db/schema.rb
/public/system
/coverage/
/spec/tmp
*.orig
rerun.txt
pickle-email-*.html

.project

config/initializers/secret_token.rb

.env

/.bundle
/vendor/bundle

.rvmrc

/vendor/assets/bower_components
*.bowerrc
bower.json

.powenv

.byebug_history

.ruby-version

.DS_Store

*.gem
